.*
*

!.gitignore
!README.md

!code/
!code/*.py
!code/*.m
!code/*.cpp
!code/*.nb

!report/
!report/*.tex
!report/*.cls
!report/*.pdf
!report/figures/
!report/figures/*
!report/includefile/
!report/includefile/*

.DS_Store