.*
*

!.gitignore
!README.md

!code/
!code/*.py
!code/*.m
!code/*.cpp
!code/*.nb

!report/

!report/chapter1/
!report/chapter1/*.tex
!report/chapter1/*.cls
!report/chapter1/*.pdf
!report/chapter1/figures/
!report/chapter1/figures/*
!report/chapter1/includefile/
!report/chapter1/includefile/*.tex

!report/chapter2/
!report/chapter2/*.tex
!report/chapter2/*.cls
!report/chapter2/*.pdf
!report/chapter2/figures/
!report/chapter2/figures/*
!report/chapter2/includefile/
!report/chapter2/includefile/*.tex

!report/chapter3/
!report/chapter3/*.tex
!report/chapter3/*.cls
!report/chapter3/*.pdf
!report/chapter3/figures/
!report/chapter3/figures/*
!report/chapter3/includefile/
!report/chapter3/includefile/*.tex

.DS_Store