.*
*

!.gitignore
!README.md

!code/
!code/*
!code/chapter1/
!code/chapter1/*
!code/chapter2/
!code/chapter2/*
!code/chapter3/
!code/chapter3/*
!code/chapter4/
!code/chapter4/*
# !code/*.py
# !code/*.m
# !code/*.cpp
# !code/*.nb

!report/

!report/chapter1/
!report/chapter1/*.tex
!report/chapter1/*.cls
!report/chapter1/*.pdf
!report/chapter1/figures/
!report/chapter1/figures/*
!report/chapter1/includefile/
!report/chapter1/includefile/*.tex

!report/chapter2/
!report/chapter2/*.tex
!report/chapter2/*.cls
!report/chapter2/*.pdf
!report/chapter2/figures/
!report/chapter2/figures/*
!report/chapter2/includefile/
!report/chapter2/includefile/*.tex

!report/chapter3/
!report/chapter3/*.tex
!report/chapter3/*.cls
!report/chapter3/*.pdf
!report/chapter3/figures/
!report/chapter3/figures/*
!report/chapter3/includefile/
!report/chapter3/includefile/*.tex

!report/chapter4/
!report/chapter4/*.tex
!report/chapter4/*.cls
!report/chapter4/*.pdf
!report/chapter4/figures/
!report/chapter4/figures/*
!report/chapter4/includefile/
!report/chapter4/includefile/*.tex

.DS_Store
.vscode
__pycache__